<p id="notice"><%= notice %></p>


<div class="jumbotron">
  <h1>Raccoon Metadata Project</h1>
  <p>Collecting information on raccoons and the furniture they own.</p>
  <p><%= link_to "Learn More", new_raccoon_path, class: "btn btn-primary btn-lg", role: "button" %></p>
</div>

<br>

<div class="row">
    <% @raccoons.each do |raccoon| %>
      <div class="col-md-4">
       <div class="panel panel-default">
        <div class="panel-body">
          <%  if raccoon.avatar_file_name %>
          <div class="raccoon-vatar"><a href="javascript:loadRaccoon(<%= raccoon.id %>, '<%= asset_path raccoon.avatar.url(:medium) %>');"><%= image_tag raccoon.avatar.url(:thumb), class: "img-responsive raccoon-time" %></a></div>
          <% end %>
          <div class="raccoon-deets">
          <h2>Name: <%= raccoon.name %></h2>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>



<div class= "raccoon-fo">
 <div class="panel panel-default">
  <div class="panel-body placement">
  <div class = "inforaccoon"></div>
</div>
</div>
</div>
