<p id="notice"><%= notice %></p>

<h1>Listing Raccoons</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Claw ferocity</th>
      <th>Disposition</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @raccoons.each do |raccoon| %>
      <tr>
        <td><%= raccoon.name %></td>
        <td><%= raccoon.claw_ferocity %></td>
        <td><%= raccoon.disposition %></td>
        <td><%= link_to 'Show', raccoon %></td>
        <td><%= link_to 'Edit', edit_raccoon_path(raccoon) %></td>
        <td><%= link_to 'Destroy', raccoon, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Raccoon', new_raccoon_path %>
