<%= form_for(@furniture) do |f| %>
  <% if @furniture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@furniture.errors.count, "error") %> prohibited this furniture from being saved:</h2>

      <ul>
      <% @furniture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :style %><br>
    <%= f.text_field :style %>
  </div>
  <div class="field">
    <%= f.label :kind %><br>
    <%= f.text_field :kind %>
  </div>
  <div class="field" style="display:none;">
    <%= f.label :raccoon_id %><br>
    <%= f.text_field :raccoon_id, value: @raccoon.id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
